header{
    min-height: 10vh;

}
main{
    min-height: 75vh;

}
footer{
    min-height: 15vh;
}
.navbar{
    min-height: 20vh;
}
.c-item1{
    height: 30vw;
}
.imgamazing{
    width: 37vw;
    
}
.c-item2{
    height: 30vw

}

