header{
    min-height: 5vh;

}
main{
    min-height: 85vh;

}
footer{
    min-height: 10vh;
}
.navbar{
    min-height: 20vh;
}
.c-item1{
    height: 20vw;
}
.imgamazing{
    width: 18vw;
    
}
.c-item2{
    height: 50vh;

}
#contenedor{
    height: 35rem;
}
.imgcards{
    height: 40%;


}
.card{
    margin: 1rem;
    background-color: rgb(129, 20, 66) !important;
}

@media only screen and (max-width: 1000px){
    .imgamazing{
        width: 70vw;
        
    }
  }

